@page
@model RazorWebUI.Areas.ITrainings.Pages.ModulePage.UpdateModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE MODULE</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Module.Id" />

                    <div class="form-group">
                        <label asp-for="Module.Title" class="control-label"></label>
                        <input asp-for="Module.Title" class="form-control" />
                        <span asp-validation-for="Module.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Module.Content" class="control-label"></label>
                        <textarea asp-for="Module.Content" class="form-control"></textarea>
                        <span asp-validation-for="Module.Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/lga.js"></script>
}
