@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = null;

}



<html lang="zxx">
<head>
    <title>OPPS | MIYCN Portal | Maternal Infant and Young Child Nutrition</title>
    <link rel="icon" href="~/img/icon.jpg" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/AgileVendor/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/AgileVendor/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/AgileVendor/flaticon.css">

    <!-- Favicon icon -->
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/AgileVendor/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/AgileVendor/default.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/agilevendor/main.css" rel="stylesheet" />

</head>
<body>



    <p style="margin:0 auto;text-align:center;">
        <img src="/Error-page-blue.png" style="
    margin:0 auto;text-align:center;">
    </p>
    <p style="margin:0 auto;text-align:center;">
        <a href="/" style="text-align:center;padding:15px;margin:14px;background-color:blue;color:white;text-decoration:none;border-radius:5px;">Back to Home</a>
    </p>
    <!-- Login 6 start -->
    <!-- Login 6 end -->
    <!-- External JS libraries -->
    <script src="~/AgileVendor/jquery-2.2.0.min.js"></script>
    <script src="~/AgileVendor/popper.min.js"></script>
    <script src="~/AgileVendor/bootstrap.min.js"></script>

</body>
</html>





