@page
@model RazorWebUI.Areas.ITrainingCategorys.Pages.Category.InfoModel
@{
}

<style>
    .input-group-sm > .custom-select, .input-group-sm > .form-control:not(textarea) {
        height: auto;
    }

    .daiv {
        box-shadow: 0px 11px 35px 0px #c5b5b4;
        padding: 20px;
    }

    .secdaiv {
        box-shadow: 0px 4px 5px 0px #c5b5b4;
        padding: 10px;
    }

    .m-border {
        margin-bottom: 6px;
    }
</style>

<div class="row">
    
</div>
