@page
@model RazorWebUI.Areas.ITrainings.Pages.Account.SuccessModel
@{
 }
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">@Model.Title</h6>
                

            </div>

            <div class="card-footer">
                <a asp-page="./Info" asp-route-id="@Model.Id" class="btn bg-gradient-warning btn-sm" style="width:100%;">Back</a>
            </div>
        </div>
    </div>
</div>