@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h4>@ViewData["Title"]</h4>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
