@page
@model RazorWebUI.Areas.ITrainings.Pages.GalleryPage.UpdateModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE GALLERY</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                 
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/lga.js"></script>
}
