<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\RazorWebUI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
	  <system.webServer>
		  <httpErrors errorMode="Detailed" />
		  <rewrite>
			  <rules>
				  <rule name="httpTohttps" stopProcessing="true">
					  <match url="^(.*)$" />
					  <conditions>
						  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
					  </conditions>
					  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				  </rule>
			  </rules>
		  </rewrite>
	  </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 1e32ee24-6322-479d-b73d-5f30899fca1b-->