@page
@model RazorWebUI.Areas.ITrainings.Pages.Admin.ResultModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title text-uppercase">
            Uploaded
        </h3>
    </div>   
     </div>